* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
    overflow: hidden;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 body {
    background-color:black;
    max-height: 100vh;
 }

#columns {
    display: flex;
    justify-content: space-between;
    max-height: 100vh;
}

#first-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    max-height: 100vh;

    /*background-image: url("seamless-cookie.jpg");
    background-repeat: repeat;*/
}

#scrolldown-cookie {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    
    animation-name: scrolldown;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scrolldown {
    from {top: 0%;}
    to {top: 100%;}
  }

#second-column {
    background-color: grey;
    width: 45%;
}

#third-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    width: 30vw;

    overflow: visible;
    overflow-y: scroll;
}

#third-column > * {
    width: 100%;
    overflow: visible;
}

.button {
    color: white;
    border: 2px solid white;
    padding: 3rem 1rem;
    width: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    background: linear-gradient(
                  90deg,
                  brown, black,
                  saddlebrown
                  ) 0 0 / 300% 100%;

    font-family: 'Heuristica', Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
}

.button:hover {
    background: white;
    color: #3498db;
    border: 2px solid white;
}

#cookie-button {
    height: 50vmin;
    width: 50vmin;

    transform: rotate(35deg);
    transition: 0.1s ease-in-out;
    cursor: pointer;

    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;

    animation-name: clockwise;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cookie-button:hover {
    height: 52vmin;
    width: 52vmin;
}

@keyframes clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
