* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
    overflow: hidden;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    max-height: 100vh;
}

#columns {
    display: flex;
    justify-content: space-between;
    max-height: 100vh;
}

#first-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    max-height: 100vh;
}


#scrolldown-cookie {
    position: absolute;
    z-index: -1;
    
    background-image: url("seamless-cookie.png");
    width: 100%;
    height: 100%;
    background-position: 0 100%, 0 0;
    background-repeat: repeat;
    animation: animatedBackground 12s linear infinite;
}
  
@keyframes animatedBackground {
    from {
        background-position: 0 100%, 0 0;
    }
    to {
        background-position: 0 0, 0 -100%;
    }
}

#cookie-button {
    height: 50vmin;
    width: 50vmin;

    cursor: pointer;

    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;

    animation-name: clockwise;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cookie-button:hover {
    transition: 0.1s ease-in-out;
    height: 52vmin;
    width: 52vmin;
}

@keyframes clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#second-column {
    background-color: grey;
    width: 45%;
}

#third-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    width: 30vw;

    overflow: visible;
    overflow-x: hidden;
    overflow-y: scroll;
}

#third-column > * {
    width: 100%;
    overflow: visible;
}

.button {
    color: white;
    border: 2px solid white;
    padding: 3rem 1rem;
    width: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    background: linear-gradient(
                  90deg,
                  brown, black,
                  saddlebrown
                  ) 0 0 / 300% 100%;

    font-family: 'Heuristica', Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
}

.button:hover {
    background: white;
    color: #3498db;
    border: 2px solid white;
}

#upgrades-div {
    --upgrade-size: 70px;

    display: flex;

    position: relative;
    left: 0px;
    top: 0px;
    height: calc(var(--upgrade-size) * 2.2);

    background-color: purple;
}

#upgrade-square-1,
#upgrade-square-2,
#upgrade-square-3,
#upgrade-square-4,
#upgrade-square-5,
#upgrade-square-6,
#upgrade-square-7,
#upgrade-square-8,
#upgrade-square-9,
#upgrade-square-10
 {
    display: inline-block;
    width: var(--upgrade-size);
    height: var(--upgrade-size);
    border: 2px solid black;
}
